*{
    font-family: 'inter';
    margin: 0px;
}

:root {
    --background-white: #F9F9F9;
    --background-gray: #303030;
    --hover-button: #2b2a33de;
}

/* Menu superior Config */
#menu-superior{
    color: white;
    background-color: var(--background-gray);
}

/* texts */
    #menu-superior h1{
        padding: 150px 0 0 60px;
        font-size: 50px;
    }

    #menu-superior p{
        padding: 15px 0px 120px 60px;
        font-size: 17px;
    }

/* Menu Informativo Config */
#menu-informativo{
    background-color: var(--background-white);
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 60px 0 60px 150px;
}   

/* text */
   #menu-informativo b {
        font-size: 35px;
    }

/* Menu Explicação Config */
#menu-explicacao{
    background-color: var(--background-white);
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    text-align: justify;
    margin-bottom: 50px;    
}

/* texts config */
    #menu-explicacao h2{
        font-size: 35px;
        margin: 200px 0 0 70px;
    }

    #menu-explicacao p{
        width: 75%;
        font-size: 19px;
        margin: 55px 0 0 70px;
    }

/* Img */
    #imagem-menu-explicacao{
        margin: 60px 50px 0 0;
    }

/* Formulário Config */
#formulario{
    text-align: center;
    background-color: var(--background-gray);
    padding-bottom: 100px;
}

/* Title */
    #formulario h2{
        color: white;
        padding-top: 50px;
        font-size: 35px;
    }

/* Inputs e Buttons */
    input{
        width: 350px;
        height: 50px;
        font-size: 18px;
        padding-left: 22px;
        margin-top: 35px;
        border: 0px;
        border-radius: 10px;

    }

    button{
        font-size: 20px;
        font-weight: bolder;
        margin-top: 25px;
        width: 200px;
        height: 50px;
        color: white;
        background-color: #C07212;
        border: 0px;
        border-radius: 10px;
    }

        button:hover{
            transform: translateY(-5px);
            transition-duration: 1s;
            box-shadow: 0px 5px 5px 5px var(--hover-button);
        }